.intro-quote {
  display: inline-block;
  margin-top:40vh;
  margin-left: 40vw;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}
.introduction{
  text-align: center;
  color: #ffe76e;
  margin:5vw;
  font-size: 4vw;
  font-family:'Josefin Sans', sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 1300px) {
  .introduction{
    margin: 4vw;
  }
}

.my-name {
  font-weight: 800;
  font-size: 6vw;
}