body{
  margin:0;
}
.section-intro {
  background-color: black;
  background-image: url("https://c2.staticflickr.com/8/7666/17929541328_4fdc5364de_b.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}
.navigation-container {
  position: fixed;
}

.navigation-background {

  width:0;
  height:0;
  border-top: solid yellow 300px;
  border-right: solid transparent 300px;
  border-bottom: solid transparent 300px;
  border-left: solid yellow 300px;
  transition: 0.8s;
}
.navigation-display {
  position: absolute ;
  top:10px;
  left:30px;
}

.navigation-item {
  text-decoration: none;
  display: block;
  position: relative;
  color:black;
  font-size: 45px;
  font-family: 'Barrio', cursive;
  margin-bottom: 18px;
  cursor: pointer;
}

#navigation-open-button {
  background-color: yellow;
  color:black;
  padding: 3px;
  position: absolute;
  top:30px;
  left:30px;
}
.close-button-line {
  display: inline-block;
  padding: 0;
  line-height: 0;
  margin-left: 20px;
}
.navigation-close-button {
  position: relative;

}
.left-line {
  transform: rotate(45deg);
  transition: 0.2s;
  position: absolute;
}
.right-line {
  transition: 0.2s;
  transform: rotate(-45deg);
}

.stright-line {
  transform: rotate(0deg);
}
.additional-line {
top:10px;
  display: none;
}